<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div style="text-align: center;">Bienvenido a mi chat</div>
chat general:<br/>
<textarea id="listado_mensajes" rows="15" cols="120"></textarea>
<br/><br/>
nombre: <input id="nombre" type="text"/><br/><br/>
mensaje: <textarea id="mensaje" rows="3" cols="60"></textarea>
<br/>
<input id="boton_enviar_mensaje" type="button" value="MANDAR MENSAJE"/>

<br/>
<br/>
<br/>
<div id="info"></div>

<script type="text/javascript" src="static/jquery.js" ></script>
<script type="text/javascript">

$("#boton_enviar_mensaje").click(function(){
	nombre = $("#nombre").val()
	mensaje =$("#mensaje").val()
	//voy a mandarlo a registrar-mensaje
	$.ajax({ 
		url : "registrar-mensaje" , 
		data : { n : nombre , m : mensaje },
        success: function(res){
        	if ( res != "ok" ){
        		alert("error en envio de mensaje: " + res)
        	}
        }//success
	});//end ajax
});//end click


function refrescar(){
	ahora = new Date();
	$("#info").html(ahora)
	//para pedir un json desde jquery, jquery nos da diramente
	//la siguiente funcion
	$.getJSON("obtener-mensajes", function(res){
		texto = ""
		for( indice in res ){
			texto += res[indice][1] + " : " + res[indice][2] + "\n";
		}
	    $("#listado_mensajes").html(texto);	
	});
	
}//end refrescar

setInterval(refrescar,2000);

</script>


</body>
</html>