@charset "UTF-8";
body {
    background-color: burlywood;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: red
}

caption {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    background-color: #F98B23;
    color: red;
    text-shadow: black 1px 1px 3px;
    padding: 1.2em;
}

#registro {
    background-color: #FC993D;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-shadow: black 2px 2px 3px;
    font-size: larger;
    padding: 0.5em;
}

#registro:hover {
    background-color: #FC993D;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-shadow: black 2px 2px 3px;
    font-size: 2em;
    padding: 1em;
    box-shadow: black 2px 2px 10px;
}

#anuncios {
    background-color: #FAAB61;
}

#formulario {
    background-color: #FC993D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#btn_registrar {
    background: linear-gradient(grey, darkgrey, white);
    padding: 1em;
    margin: auto;
}

#boton{padding: 0.3em;
    text-align: center;
}

#registro-ok {
    background-color: #F98B23;
    padding : 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    text-align: center;
    font-size: 2em;
}

table {
    margin: auto
}

tr {
    padding: 2em;
    box-shadow: black 2px 2px 5px;
}

td {
    padding: 2em;
}

#volver-inicio:hover{font-size: 1.5em;
    text-shadow: black 2px 2px 3px;
}