<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

Introduce los datos de tu anuncio: <br/>

<form action="guardar-nuevo-anuncio" method ="post" enctype="multipart/form-data">
 producto: <input type="text" name="nombre"/> <br/>
 precio: <input type="text" name="precio" /> <br/>
 email de contacto: <input type="text" name="email" /> <br/>
 foto del anuncio: <input type="file" name="foto" /> <br/>
 <input type="submit" value="REGISTRAR MI ANUNCIO"/>
</form>


</body>
</html>