{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuarios</title>

    <link rel="stylesheet" href="{% static 'estilos.css' %}"/>
    
    <script language="javascript" src = "{% static 'javascript.js' %}"></script>
    
</head>

<body>
    <header>
    <h1>MODIFICACION DE DATOS PERSONALES</h1>
    </header>
    <br/>
    <br/>
    <a href = "volver-home"><button>VOLVER A MIS ANUNCIOS</button></a>
    <br/>
    <br/>

    <form method="POST" action="guardar-usuario-modificado/{{id_usuario}}">

        {% csrf_token %}

        <table>

            <tr>
                <td><label>Nombre</label></td>
                <td><input type="text" name="nuevo_nombre" value ="{{nombre}}" /></td>
                <td><label>Primer apellido</label></td>
                <td><input type="text" name="apellido_1" value ="{{apellido_1}}"/></td>
                <td><label>Segundo apellido</label></td>
                <td><input type="text" name="apellido_2" value ="{{apellido_2}}"/></td>
            </tr>
            <tr>
                <td><label>Teléfono</label></td>
                <td><input type="text" name="telefono" value ="{{telefono}}" /></td>
                <td><label>Email</label></td>
                <td><input type="text" name="email"value ="{{email}}" /></td>
                <td></td>
                <td></td>  
            </tr>
            <tr>
                <td><label>Contraseña actual</label></td>
                <td><input type = "password" name = "current_password"></td>
                <td><label>Nueva contraseña</label></td>
                <td><input type = "password" name = "new_password_1"></td>
                <td><label>Repetir contraseña</label></td>
                <td><input type = "password" name = "new_password_2"></td>
            </tr>           

        </table>
        <br/>
        <input type = "hidden" name = "id_usuario" />
        <input type="submit" value="MOIFICAR" />
        &nbsp;  
       
    </form>
    <br/>

    <span id =  "pass_no_match"><h2>{{ pass_no_match }}</h2></span>
    <span id =  "error_pass_actual"><h2>{{ error_pass_actual }}</h2></span>
</body>

</html>