<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="guardar-nuevo-usuario">

        {% csrf_token %}
        
        nombre: <input type="text" name="nombre"/> <br/>
        email: <input type="email" name="email"/>   <span style="color: red">{{error_email}}</span>   <br/>
        contraseña: <input type="password" name="clave"/> <br/>
        
        
        <input type="submit" value="REGISTRARME" />
        
        </form>  
</body>
</html>