<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


Introduce los datos de tu anuncio:<br/><br/>

<form action = "guardar-nuevo-anuncio" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    titulo: <input type="text" name ="titulo"/> <br/>
    precio: <input type="text" name ="precio"/> <br/>
    foto: <input type="file" name="foto"/> <br/>

    categoria:
    <select name="categoria_id">
        {% for c in categorias %}
        <option value="{{c.id}}") >{{c.texto}}</option>
        {% endfor %}
    </select>
    <br/><br/>
    <input type="submit" value="REGISTRAR ANUNCIO"/>

</form>

</body>
</html>
