<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Introduce los datos de tu anuncio:<br/>

<form action = "guardar-nuevo-anuncio">
    titulo: <input type="text" name ="titulo"/> <br/>
    precio: <input type="text" name ="precio"/> <br/>
    
    
    categoria: 
    <select name="categoria_id">
        {% for c in categorias %}
            <option value="{{c.id}}") >{{c.texto}}</option>
        {% endfor %}
    </select>
    <br/>
    <br/>
    
    <input type="submit" value="REGISTRAR ANUNCIO"/>

</form>
</form>
</body>
</html>