{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home de usuario</title>
    
    <link rel="stylesheet" href="{% static 'estilos.css' %}"/>
    
    <script language="javascript" src = "{% static 'javascript.js' %}"></script>
    
</head>

<body>
    {% static 'fotos' as ruta_imagenes %}
    <header>
    <h1>Bienvenido a tus anuncios {{ nombre }}</h1>
    </header>
    <nav>
    <ul>
        <li><a href="registro-anuncio">REGISTRAR UN ANUNCIO</a></li>        
        <li><a href="modificacion-usuario">MODIFICAR DATOS PERSONALES</a></li>        

        <li><a href="cerrar-sesion-usuario">CERRAR SESION</a></li>
   </ul>
    </nav>

    <table>
        <tr class = "cabecera_anuncios">
            <th>Nombre</th>
            <th>Raza</th>
            <th>Edad</th>
            <th>Color de pelo</th>
            <th>Defectos fisicos</th>
            <th>vacunado</th>
            <th>Categoria</th>
            <th>Foto</th>
            <th>Modificar</th>
            <th>Borrar</th>
        </tr>

        {% for perro in mis_anuncios %}
        <tr class = "linea">
            <td>{{ perro.nombre }}</td>
            <td>{{ perro.raza }}</td>
            <td>{{ perro.edad }}</td>
            <td>{{ perro.color_pelo }}</td>
            <td>
                {% if perro.defectos_fisicos == True %}
                SI
                {% elif perro.defectos_fisicos == False %}
                NO                        
                {% endif %}
            </td>                    
            <td>
                {% if perro.vacunado == True %}
                &nbsp;SI
                {% elif perro.vacunado == False %}
                &nbsp;NO                        
                {% endif %}
            </td>
            <td>{{perro.categoria.categoria}}</td>
            <td id = "celda_foto"><img src = "{{ruta_imagenes}}/{{perro.id}}.jpg?um={{perro.ultima_modificacion}}" alt = "Foto no disponible" id = "foto_perro" /></td>
            <td><a href = "modificacion-anuncio/{{perro.id}}"><button>MODIFICAR</button></a></td>                
            <td><a href = "borrar-anuncio/{{perro.id}}"><button>BORRAR</button></a></td>
        </tr>

        {% endfor %}

</body>

</html>