<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


Actualiza los datos del anuncio:<br/>


<form action="guardar-cambios-anuncio" method="post" enctype="multipart/form-data">
titulo <input type="text" name="nombre" value="{{ anuncio.nombre }}"/> <br/>
precio <input type="text" name="precio" value="{{ anuncio.precio }}"/> <br/>
email <input type="email" name="email" value="{{ anuncio.email }}"/> <br/>
email-valido <input type="text" name="email-valido" value="{{ anuncio.email_valido }}"/> <br/>
nueva imagen (- selecciona un nuevo archivo si quieres sustituir la imagen -):<br/>
<input type="file" name="foto"/> <br/>

<input type="hidden" name="id" value="{{ anuncio.id }}"/> <br/>
<input type="submit" value="GUARDAR CAMBIOS"/>

</form>


</body>
</html>