<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Gracias por registrarse</title>
    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        div {
            font-weight: bold;
            color: white;
            background-color: #F35A81;
            text-align: center;
            padding: 2%;
            width: 50%;
            margin: auto;
        }
    </style>
</head>

<body>
    <br />
    <br />
    <br />
    <br />
    <div>
        <h1>Gracias por registrarse en el portal de adopción de perros</h1>
        <br />
        Le hemos enviado a su dirección de email un correo para verificar que es correcta, por favor, revise su bandeja de entrada

    </div>

</body>

</html>