body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #F35A81;
    text-align: center;
    padding: 2%;
}

nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FBAAE5;
    color: black;    


}

li a{
    text-decoration: none;
    color: black;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 0;
    text-align: left;    
}



ul{
    margin: 0;    
    list-style: none;    
    text-align: center;
    padding: 1%;
}

li{
    display: inline;    
    margin-left: 0em;
    text-align: center;   
    
}


li a:hover{                

    color:white;
}

#listado{
    text-align: center;
}

table{
    margin: auto;
    border-collapse: collapse;
}

td{
    text-align: left;
    width: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
    border-bottom: solid 1px;
}

th{
    text-align: center;
    padding: 2%;
    width: 5%;
}

.linea:hover{
    background-color: #D2E3D2;
    border-collapse: collapse;    
    text-shadow: black 1px 1px 0px;
}

.cabecera_anuncios{
    background-color: #ACE7CB;
    color: black;  
}

#caja_login{
    background-color: #F35A81;
    font-weight: bold;
    color: white;
    width: 25%;
    margin: auto;
    text-align: center;
    padding: 5%;
}

#error_login, #error_mail, #pass_no_match, #validacion_ko, #error_campo, #error_pass_actual{
    color: red;
}

#boton{
    float: left;
}

#foto_perro{
    height: 80px;
    width: 80px;
}

#celda_foto{
    text-align: center;
}