<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Bienvenido al portal de adopción de Perros</title>
    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        div {
            font-weight: bold;
            color: white;
            background-color: #F35A81;
            text-align: center;
            padding: 2%;
            width: 50%;
            margin: auto;
        }
    </style>
</head>

<body>
    <br />
    <br />
    <br />
    <br />
    <div>
        <h1>Bienvenido al portal de adopción de perros</h1>
        <br />
        Para poder validar que su dirección de correo es correcta, le rogamos que haga click en el siguiente enlace
        <br />
        <br />
        <a href="http://127.0.0.1:8000/anuncios/validar-correo?id_usuario={{id_usuario}}" target = "_blank">PULSAR AQUI</a>
    </div>

</body>

</html>