<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home de usuario</title>
</head>
<body>
    <h1>BIENVENIDO {{ XXXXX }}</h1>

    <ul>
    <li><a href = "registro-anuncio/">REGISTRAR UN ANUNCIO</a></li>
    <li><a href = "modificacion-anuncio/">MODIFICAR UN ANUNCIO</a></li>
    <li><a href = "modificacion-usuario/">MODIFICAR DATOS PERSONALES</a></li>
    <li><a href = "cerrar-sesion-usuario/">CERRAR SESION</a></li>


    </ul>
</body>
</html>