<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de adopción de perros</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'estilos.css' %}"/>
    
    <script language="javascript" src = "{% static 'javascript.js' %}"></script>

</head>
<body>    
    {% static 'fotos' as ruta_imagenes %}
    <header>
    <h1>PORTAL DE ANUNCIOS PARA LA ADOPCION DE PERROS</h1>
    </header>
    <nav> 
    <ul>
    <li><a href ="registro-usuario">REGISTRO EN EL PORTAL</a></li>
    <li><a href = "inicio-sesion-usuario">INICIO DE SESION</a></li>
    <li><a href = "/admin" >ACCESO ADMINISTRADORES</a></li>     
    </ul>          
    <form action ="/anuncios" method="GET" id ="form_buscador">
    <label>BUSCA TU PERRO&nbsp;</label>
    <input type = "text" name = "criterio" value = "{{valor_en_buscador}}"  placeholder="filtra por criterio..." id = "buscador"/>
    <input type ="submit" value = "BUSCAR" id ="submit"/> 
    </form>
    <br/>
    <span id = "anuncios_totales">&nbsp;Anuncios totales : {{anuncios_totales}}</span>
    <br/>
    {% if filtrado == True %}
        <div id = "btn_limpiar">    
        <a href = "/anuncios" id = "limpiar" ><button>{{limpiar}}</button></a>    
        </div>
    {% endif %}
    <br/>
    </nav>
    <main>

        <table>
            <tr class = "cabecera_anuncios">
                <th>Nombre</th>
                <th>Raza</th>
                <th>Edad</th>
                <th>Color de pelo</th>
                <th>Defectos fisicos</th>
                <th>Vacunado</th>
                <th>Categoria</th>
                <th>Foto</th>     
                <th>Tf Contacto</th>
            </tr>    
            
            {% for perro in anuncios %}
                <tr class = "linea">
                    <td>{{ perro.nombre}}</td>
                    <td>{{ perro.raza}}</td>
                    <td>{{ perro.edad}}</td>
                    <td>{{ perro.color_pelo}}</td>
                    <td>
                        {% if perro.defectos_fisicos == True %}
                        SI
                        {% elif perro.defectos_fisicos == False %}
                        NO                        
                        {% endif %}
                    </td>                    
                    <td>
                        {% if perro.vacunado == True %}
                        SI
                        {% elif perro.vacunado == False %}
                        NO                        
                        {% endif %}
                    </td>
                    <td>{{perro.categoria.categoria}}</td>
                    <td id = "celda_foto"><img src = "{{ruta_imagenes}}/{{perro.id}}.jpg?um={{perro.ultima_modificacion}}" alt = "Foto no disponible" id = "foto_perro" /></td>  
                    <td>{{perro.usuario.telefono}}</td>
                </tr>
                {% endfor %}      
        
    </table>
    </main>
    <footer>        

        {% if filtrado == False %}
    
            {% if siguiente < anuncios_totales and siguiente == paginacion %}
                <a href="/anuncios?comienzo={{siguiente}}" class = "paginacion" >SIGUIENTE >>>&nbsp;&nbsp;&nbsp;</a>
           
            {% elif siguiente < anuncios_totales and siguiente > paginacion %}
                <a href="/anuncios?comienzo={{anterior}}" id = "paginacion2">&nbsp;&nbsp;&nbsp;<<< ANTERIOR</a>
                <a href="/anuncios?comienzo={{siguiente}}" class = "paginacion" >SIGUIENTE >>>&nbsp;&nbsp;&nbsp;</a>
            {% elif anuncios_totales < paginacion %}
                <span>&nbsp;&nbsp;&nbsp;NO HAY MAS ANUNCIOS</span>
            {% else %}
                <a href="/anuncios?comienzo={{anterior}}" class = "paginacion"><<< ANTERIOR&nbsp;&nbsp;&nbsp;</a>
            {% endif %}

        {% elif filtrado == True %}

            {% if siguiente < anuncios_totales and siguiente == paginacion %}
                <a href="/anuncios/?criterio={{valor_buscado}}&comienzo={{siguiente}}" class = "paginacion" >SIGUIENTE >>>&nbsp;&nbsp;&nbsp;</a>
            {% elif siguiente < anuncios_totales and siguiente > paginacion %}   
                <a href="/anuncios/?criterio={{valor_buscado}}&comienzo={{anterior}}" id = "paginacion2">&nbsp;&nbsp;&nbsp;<<< ANTERIOR</a>
                <a href="/anuncios/?criterio={{valor_buscado}}&comienzo={{siguiente}}" class = "paginacion" >SIGUIENTE >>>&nbsp;&nbsp;&nbsp;</a> 
            {% elif anuncios_totales < paginacion %}
                <span>&nbsp;&nbsp;&nbsp;NO HAY MAS ANUNCIOS</span>
            {% else %}
                <a href="/anuncios/?criterio={{valor_buscado}}&comienzo={{anterior}}" class = "paginacion"><<< ANTERIOR&nbsp;&nbsp;&nbsp;</a>
            {% endif %}

        {% endif %}
        
    </footer> 

</body>
</html>