{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Usuarios</title>

    <link rel="stylesheet" href="{% static 'estilos.css' %}"/>
    
    <script language="javascript" src = "{% static 'javascript.js' %}"></script>

</head>
<body>
    <br/>
    <br/>
    <div id = "caja_login">
    <form action="guardar-sesion-usuario" method="POST">
    <h1>ACCESO USUARIOS</h1>

    {% csrf_token %}
    
    <br/>
    <label>E-MAIL</label>
    <br/>
    <br/>
    <input type = "text" name = "email" />
    <br/>
    <br/>
    <label>CONTRASEÑA</label>
    <br/> 
    <br/>
    <input type = "password" name = "password" />
    <br/>
    <br/>
    <input type = "submit" value = "ENTRAR" />

    

    </form>
    <br/>
    <br/>
    <span id = "error_login"><h2>{{ error_login }}</h2></span> 

    </div>
</body>
</html>