<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de anuncios</title>
</head>
<body>
    
    <h1>MODIFICACION DE ANUNCIOS</h1>
    
    <form action = "guardar-anuncio-modificado/{{id_anuncio}}" method = "POST"> 
    
    {% csrf_token %}
    
    <table>        
        <tr>
            <td>Nombre</td><td><input type = "text" name = "nombre" value = "{{nombre}}"/></td>
            <td>Raza</td><td><input type = "text" name = "raza" value = "{{raza}}"/></td>
            <td>Edad</td><td><input type = "text" name = "edad" value = "{{edad}}"/></td>
        </tr> 
            <td>Color de pelo</td><td><input type = "text" name = "pelo"value = "{{pelo}}" /></td>
            <td>Defectos fisicos</td><td><input type = "text" name = "defectos" value = "{{defectos}}" /></td>
            <td>vacunado</td><td><input type = "text" name = "vacunado" value = "{{vacunado}}"/></td>
        <tr>
            <td>Foto del perro</td> <td> <input type = "file" name = "foto" /> </td>
        </tr>
    </table>
            <input type = "hidden" name = "id_anuncio" value = "{{id_anuncio}}" />

            <input type = "submit" value = "MODIFICAR" />
    </form>
    
    <br/>
    
    <a href = "/anuncios">Volver al inicio </a>

</body>
</html>