{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuarios</title>

    <link rel="stylesheet" href="{% static 'estilos.css' %}"/>
    
   <!-- <script language="javascript" src = "{% static 'javascript.js' %}"></script> -->

</head>

<body onload = "hola()">
    <br/> 
    <br/>
    <br/>
    <header
    <h1>INDIQUE SUS DATOS PARA REGISTRARSE EN EL PORTAL</h1>
    </header>m"
    <form method="POST" action="guardar-usuario" id = "id_form">

        {% csrf_token %}

        <table>

            <tr>
                <td><label>Nombre</label></td>
                <td><input type="text" name="nombre" id = "nombre" /></td>
                <td><label>Primer apellido</label></td>
                <td><input type="text" name="apellido_1" id = "apellido_1" /></td>
                <td><label>Segundo apellido</label></td>
                <td><input type="text" name="apellido_2" id = "apellido_2" /></td>
                <td><label>Teléfono</label></td>
                <td><input type="text" name="telefono" id = "telefono"/></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td><input type="text" name="email" id = "email" /></td>
                <td><label>Contraseña</label></td>
                <td><input type = "password" name = "password1" id = "password1"/></td>
                <td><label>Confirmar contraseña</label></td>
                <td><input type = "password" name = "password2" id = "password2" /></td>
                <td></td>
                <td></td>
            </tr>           

        </table>
        <br/>
        <input type="submit" value="REGISTRAR" />
        <br/>
        <br/>

    </form>
    <div id = "errores_registro_usuario">
        {{errores_registro}}
        <br/>
        <br/>
        {{mail_duplicado}}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
    $(document).ready(function(){        

        $("id_form").submit(function(e){

            e.preventDefault();

            var peticion = $("id_form").attr("action");

            var regexText = new RegExp("^[a-zA-Z0-9]+\s?[a-zA-Z0-9]*\s?[a-zA-Z0-9]*\s?[a-zA-Z0-9]*$");
            var regexTf = new RegExp("^[6-9]{1}[0-9]{8}$");
            var regexMail = new RegExp("^[a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$");
            var regexPass = new RegExp("[a-z0-9_-]{4,8}$");

            var v_nombre = $("#nombre").attr("value").match(regexText);
            var v_apellido_1 = $("#apellido_1").attr("value").match(regexText);
            var v_apellido_2 = $("#apellido_2").attr("value").match(regexText);
            var v_telefono = $("#telefono").attr("value").match(regexTf);
            var v_email = $("#email").attr("value").match(regexMail);
            var v_password1 = $("#password1").attr("value").match(regexPass);
            var v_password2 = $("#password2").attr("value").match(regexPass);

            var validacion = false;

            if(v_nombre && v_apellido_1 && v_apellido_2 && v_telefono && v_email && v_password1 && v_password2){

                validacion = true;
            }
           
            if(validacion){

                var info = $("id_form").serialize();
                
            }
           
            


        })//end submit

    });//end jquery

    </script>

</body>

</html>