{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuarios</title>

    <link rel="stylesheet" href="{% static 'estilos.css' %}"/>
  

</head>

<body onload = "hola()">
    <br/> 
    <br/>
    <br/>
    <header
    <h1>INDIQUE SUS DATOS PARA REGISTRARSE EN EL PORTAL</h1>
    </header>
    <form method="POST" action="guardar-usuario" id = "id_form">

        {% csrf_token %}

        <table>

            <tr>
                <td><label>Nombre</label></td>
                <td><input type="text" name="nombre" id = "nombre" /></td>
                <td><label>Primer apellido</label></td>
                <td><input type="text" name="apellido_1" id = "apellido_1" /></td>
                <td><label>Segundo apellido</label></td>
                <td><input type="text" name="apellido_2" id = "apellido_2" /></td>
                <td><label>Teléfono</label></td>
                <td><input type="text" name="telefono" id = "telefono"/></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td><input type="text" name="email" id = "email" /></td>
                <td><label>Contraseña</label></td>
                <td><input type = "password" name = "password1" id = "password1"/></td>
                <td><label>Confirmar contraseña</label></td>
                <td><input type = "password" name = "password2" id = "password2" /></td>
                <td></td>
                <td></td>
            </tr>           

        </table>
        <br/>
        <input type="submit" value="REGISTRAR" />
        <br/>
        <br/>

    </form>
    <div id = "errores_registro_usuario">
        {{errores_registro}}
        <br/>
        <br/>
        {{mail_duplicado}}
    </div>

    <!--<script language="javascript" src = "{% static 'javascript.js' %}"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){

        $("id_form").submit(function(e){
            
            e.preventDefault();

            validacion = false;

            var regexText = new RegExp("^[a-zA-Z0-9]+\s?[a-zA-Z0-9]*\s?[a-zA-Z0-9]*\s?[a-zA-Z0-9]*$");
            var regexTf = new RegExp("^[6-9]{1}[0-9]{8}$");
            var regexMail = new RegExp("^[a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$");
            var regexPass = new RegExp("[a-z0-9_-]{4,8}$");

            var nombre = document.getElementById("nombre").value;
            var apellido_1 = document.getElementById("apellido_1").value;
            var apellido_2 = document.getElementById("apellido_2").value;
            var telefono = document.getElementById("telefono").value;
            var email = document.getElementById("email").value;
            var password1 = document.getElementById("password1").value;
            var password2 = document.getElementById("password2").value;

            if(regexText.test(nombre)){
                document.getElementById("nombre").style.border = "1px solid black";
                validacion = true;
                console.log("Nombre " + validacion)
                
            }else{
                document.getElementById("nombre").style.border = "2px solid red";
                validacion = false;   
                console.log("Nombre " + validacion)
            }


            if(regexText.test(apellido_1)){
                document.getElementById("apellido_1").style.border = "1px solid black";
                validacion = true;
                console.log("Apellido_1 " + validacion)

            }else{
                document.getElementById("apellido_1").style.border = "2px solid red";
                validacion = false;
                console.log("Apellido_1" + validacion)
            }

            if(regexText.test(apellido_2)){
                document.getElementById("apellido_2").style.border = "1px solid black";
                validacion = true;
                console.log("Apellido_2 " + validacion)

            }else{
                document.getElementById("apellido_2").style.border = "2px solid red";
                validacion = false;
                console.log("Apellido_2" + validacion)
            }

            if(regexTf.test(telefono)){
                document.getElementById("telefono").style.border = "1px solid black";        
                validacion = true;
                console.log("Telefono es " + validacion)
            }else{
                document.getElementById("telefono").style.border = "2px solid red";
                validacion = false;
                console.log("Telefono es " + validacion)
            }  

            if(regexMail.test(email)){
                document.getElementById("email").style.border = "1px solid black";
                validacion = true;
                console.log("Email es " + validacion)
                
            }else{
                document.getElementById("email").style.border = "2px solid red";
                validacion = false;        
                console.log("Email es " + validacion)
            }

            if(regexPass.test(password1)){
                document.getElementById("password1").style.border = "1px solid black";
                validacion = true;      
                console.log("Password1 es " + validacion)
                
            }else{
                document.getElementById("password1").style.border = "2px solid red";
                validacion = false;
                console.log("Password1 es " + validacion)
            }

            if(regexPass.test(password2)){
                document.getElementById("password2").style.border = "1px solid black";
                validacion = true;
                console.log("Password2 es " + validacion)

            }else{
                document.getElementById("password2").style.border = "2px solid red";
                validacion = false;
                console.log("Password2 es " + validacion)
            }

            if(password1 == password2){
                document.getElementById("password1").style.border = "1px solid black";
                document.getElementById("password2").style.border = "1px solid black";
                validacion = true;
            }else{
                document.getElementById("password1").style.border = "2px solid red";
                document.getElementById("password2").style.border = "2px solid red";
                validacion = false;
                console.log("La verificación de password no coincide")
            }
            
            if(validacion){
                $.ajax({
                type : "POST",
                url : "{% url 'guardar-usuario' %}",
                data : {
                    nombre : $("#nombre").val(),
                    apellido_1 : $("#apellido_1").val(),
                    apellido_2 : $("#apellido_2").val(),
                    telefono : $("#telefono").val(),
                    email : $("#email").val(),
                    password1 : $("#password1").val(),
                    password2 : $("#password2").val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    dataType: "json"
                },
                success function(data){
                    $("#errores_registro_usuario").html(data.msg)
                },
                failure function(){}
                })//end ajax


            }//end if   
            

            })//end submit
    )}//end jquery
    
    </script>


</body>

</html>