<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de anuncios</title>
</head>
<body>
    
    <h1>REGISTRO DE ANUNCIOS</h1>
    
    <form action = "guardar-anuncio/" method = "POST"> 
    
    <table>        
        <tr>
            <td>Nombre</td><td><input type = "text" name = "nombre"/></td>
            <td>Raza</td><td><input type = "text" name = "raza"/></td>
            <td>Edad</td><td><input type = "text" name = "edad"/></td>
        </tr> 
            <td>Color de pelo</td><td><input type = "text" name = "pelo"/></td>
            <td>Defectos fisicos</td><td><input type = "text" name = "defectos"/></td>
            <td>vacunado</td><td><input type = "text" name = "vacunado"/></td>
        <tr>
            <td>Foto del perro</td> <td> <input type = "file" name = "foto" /> </td>
        </tr>
    </table>
    
    </form>
    
    <br/>
    
    <a href = "/anuncios">Volver al inicio </a>

</body>
</html>