<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Usuarios</title>
</head>
<body>
       

    <form action="guardar-sesion-usuario" method="POST">
    <h1>ACCESO USUARIOS</h1>

    {% csrf_token %}
    
    <br/>
    <label>E-MAIL</label>
    <br/>
    <input type = "text" name = "email" />
    <br/>
    <br/>
    <label>CONTRASEÑA</label>
    <br/> 
    <input type = "password" name = "password" />
    <br/>
    <input type = "submit" value = "ENTRAR" />

    

    </form>
    <br/>
    <br/>
    <span><h2>{{ error_login }}</h2></span> 
</body>
</html>