<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de anuncios</title>
</head>
<body>
    
    <h1>REGISTRO DE ANUNCIOS</h1>
    
    <form action = "guardar-anuncio" method = "POST"> 
    
    {% csrf_token %}

    <table>        
        <tr>
            <td>Nombre</td><td><input type = "text" name = "nombre"/></td>
            <td>Raza</td><td><input type = "text" name = "raza"/></td>
            <td>Edad</td><td><input type = "text" name = "edad"/></td>
        </tr> 
            <td>Color de pelo</td><td><input type = "text" name = "pelo"/></td>
            <td>Defectos fisicos</td>
            <td>
                <select name = "defectos">    
                    <option value = "null">---seleccione---</option>                
                    <option value = "0">NO</option>
                    <option value = "1">SI</option>
                </select>

            </td>
            <td>vacunado</td>
            <td>
                <select name = "vacunado">
                    <option value = "null">---seleccione---</option>    
                    <option value = "0">NO</option>
                    <option value = "1">SI</option>
                </select>                
            </td>
        <tr>
            <td>Categoria de perro</td>
            <td>
                <select name = "categoria">
                    <option value = "null">---seleccione---</option>
                    <option value = "1">Perro de compañia</option>
                    <option value = "2">Perro Guardian</option>
                    <option value = "3">Raza peligrosa</option>

                </select>
            </td>
            <td>Foto del perro</td> <td> <input type = "file" name = "foto" /> </td>
        </tr>
    </table>
    <br/>
    <input type = "submit" value ="REGISTRAR ANUNCIO"/>
    
    </form>
    
    <br/>
    
    <a href = "/home-usuario">Volver a la pagina de usuario </a>

</body>
</html>