<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuarios</title>
</head>

<body>
    <h1>INDIQUE SUS DATOS PARA REGISTRARSE EN EL PORTAL</h1>

    <form method="POST" action="guardar-usuario">

        {% csrf_token %}

        <table>

            <tr>
                <td><label>Nombre</label></td>
                <td><input type="text" name="nombre" /></td>
                <td><label>Primer apellido</label></td>
                <td><input type="text" name="apellido1" /></td>
                <td><label>Segundo apellido</label></td>
                <td><input type="text" name="apellido2" /></td>
                <td><label>Teléfono</label></td>
                <td><input type="text" name="telefono" /></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td><input type="text" name="email" /></td>
                <td><label>Contraseña</label></td>
                <td><input type = "password" name = "password1" /></td>
                <td><label>Confirmar contraseña</label></td>
                <td><input type = "password" name = "password2" /></td>
            </tr>           

        </table>
        <br/>
        <input type="submit" value="REGISTRAR" />
        <br/>
        <br/>
        <span><h2>{{ error_mail }}</h2></span>

    </form>
</body>

</html>